
  @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html , body{
    width: 100%;
    height: 100vh;
    font-family: 'Playpen Sans', cursive;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #226262;
}

.container{
    position: relative;
    width: 500px;
    padding: 10px 40px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.327);
    box-shadow: 0px 0px 20px black;
    border-top: 1px solid rgba(255, 255, 255, 0.332);
    border-left: 1px solid rgba(255, 255, 255, 0.297);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.container h1{
    font-size: 23px;
    margin-bottom: 10px;
    color: #dadada;
}

.container input{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    outline: none;
    border: 1px solid black;
    border-radius: 6px;
    transition: all 0.5s;
    
}
.container input:hover{
    background: black;
    color: greenyellow;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container button{
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 6px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}
.container button:hover{
    background: black;
    color: greenyellow;

}
.container .win{
    display: none;
    background: white;
    padding: 10px 40px;
    margin-bottom: 5px;
    border-radius: 6px;
}

#playagain-btn{
    display: none;
    margin-top: 10px;
}

.pop-up{
    margin-bottom: 10px;
    display: none;
}
.feedback{
    display: none;
    font-weight: 600;
}



#difficulty{
    position: absolute;
    top: 5px;
    left:5px;
    padding: 10px 10px;
    outline: none;
    border: none;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s;
}
#difficulty:hover{
    background: black;
    color: greenyellow;
}
.chngdiff{
    position: absolute;
    top: 50px;
    left:5px;
    font-size: 15px;
    transition: all 0.5s;
    padding: 5px 5px;
    background: white;
    border-radius: 6px ;
    user-select: none;
    cursor: pointer;
}
.chngdiff:hover{
    background: black;
    color: greenyellow;
}

.logo{
    width: 150px;
    height: 150px;
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cheat-btn{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:600px) {
    body{
        display: flex;
    }
    .container{
        margin-top: 100px;
        width: 340px;
        padding: 10px 50px;

    }
    .container h1{
        font-size: 16px;
        margin-bottom: 10px;
    }

    #difficulty{
        padding: 5px 0px;
        font-size: 14px;
    }
    .chngdiff{
        top: 5px;
        left: 110px;
        padding: 3px 10px;
    }
    
}